# Python
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
training/models/checkpoints/
training/models/checkpoints_saved/
training/logs/

# Node
node_modules/
env/dist/

# OS
.DS_Store

# IDE
.idea/

/engine/
